In [4]:
my_str_variable = 'Test string'

In [6]:
my_str_variable[5]

's'

In [9]:
my_str_variable[1:3]

'es'

In [10]:
my_str_variable[5:9]

'stri'

In [12]:
my_str_variable[:-1]

'Test strin'

In [14]:
my_str_variable[::3]

'Tttn'

In [18]:
my_str_variable[-2::2]

'n'

In [19]:
my_str_variable[2:10:3]

'ssi'

In [22]:
my_str, idx = 'hello', 0
while idx < 5:
    print(my_str[idx])
    idx +=1

h
e
l
l
o

In [26]:
my_str, idx = 'hello', 0
l = my_str
while idx < len(l):
    print(my_str[idx])
    idx +=1

h
e
l
l
o

In [37]:
my_str = 'hello'
for idx in range (len(my_str)):
    print(idx)

0
1
2
3
4

In [38]:
my_str = 'hello'
for char in(my_str):
    print(char)

h
e
l
l
o

In [50]:
my = list('ascv')[2:4]

In [34]:
type(range)

type

In [51]:
my

['c', 'v']

In [53]:
my_list = [1, 2, 3, 4, 5]
for idx in range (len(my_list)):
    print(my_list[idx])

1
2
3
4
5

In [62]:
l = list(range(4))
range

range

In [55]:
l

range(0, 4)

In [56]:
l[2]

2

In [59]:
new_list = list(range(10))

In [60]:
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
l[2] = 0

In [64]:
l

[0, 1, 0, 3]

In [66]:
tup1 = tuple([1, 2])
tup1

(1, 2)

In [77]:
evens = []
some_collection = list(range(12))
for element in some_collection:
    if element % 2 == 0:
        evens.append(element)
        print(element)

0
2
4
6
8
10

In [75]:
element

11

In [74]:
evens

[0, 2, 4, 6, 8, 10]

In [80]:
states_caps = [('Georgia', 'Atlanta'), ('Colorado', 'Denver'), ('Indiana', 'Indianapolis')]
search_state = 'Georgia'
capital = 'State not found'
for state_cap in states_caps:
    if state_cap[0] == search_state:
        capital = state_cap[1]
        break
print(capital)

Atlanta

In [81]:
states_caps_dict = {'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis'}

In [82]:
states_caps_dict

{'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis'}

In [83]:
states_caps_dict['Indiana']

'Indianapolis'

In [84]:
states_caps_dict['NY']

KeyError: 'NY'

In [85]:
states_caps_dict = {'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis'}
for thing in states_caps_dict:
        print(thing)

Georgia
Colorado
Indiana

In [86]:
states_caps_dict = {'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis'}
for value in states_caps_dict.values():
      print(value)

Atlanta
Denver
Indianapolis

In [87]:
states_caps_dict = {'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis'}
for value in states_caps_dict.keys():
      print(value)

Georgia
Colorado
Indiana

In [88]:
states_caps_dict = {'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis'}
for value in states_caps_dict.items():
      print(value)

('Georgia', 'Atlanta')
('Colorado', 'Denver')
('Indiana', 'Indianapolis')

In [90]:
states_caps_dict = ('Georgia', 'Colorado', 'Indiana')
for value in states_caps_dict.items():
      print(value)

AttributeError: 'tuple' object has no attribute 'items'

In [92]:
my_set, my_other_set = {1, 2, 3}, {5, 6, 7}
my_set.union(my_other_set)
newset = my_set.union(my_other_set)

In [93]:
newset

{1, 2, 3, 5, 6, 7}

In [94]:
my_set.update(my_other_set)

In [96]:
abcset = my_set.update(my_other_set)
abcset

In [98]:
my_set

{1, 2, 3, 5, 6, 7}

In [99]:
my_lst_of_lsts = [[1, 2, 3], ['str1', 'str2', 'str3'], [1, 'mixed', 3]]

In [101]:
listfiveint = [1 ,2, 3, 4, 5]
listfiveflo = [1.2, 2.2, 3.3, 4.4, 6.8]

In [102]:
liststing = ['abc', 'dcf']
listmix = [1, 1.1, 'abc']

In [103]:
listcompletemix = [['abc', 'cdf'], [1, 2, 3], [1.1, 2.2]]

In [104]:
pointfive = []
pointfive.append(listfiveint)
pointfive

[[1, 2, 3, 4, 5]]

In [107]:
pointfive.append(listfiveflo)
pointfive

[[1, 2, 3, 4, 5], [1.2, 2.2, 3.3, 4.4, 6.8], [1.2, 2.2, 3.3, 4.4, 6.8]]

In [108]:
gener = list(pointfive)

In [109]:
gener

[[1, 2, 3, 4, 5], [1.2, 2.2, 3.3, 4.4, 6.8], [1.2, 2.2, 3.3, 4.4, 6.8]]

In [110]:
gener1 = pointfive + listmix

In [111]:
gener1

[[1, 2, 3, 4, 5],
 [1.2, 2.2, 3.3, 4.4, 6.8],
 [1.2, 2.2, 3.3, 4.4, 6.8],
 1,
 1.1,
 'abc']

In [112]:
my_list = list(range(10))

In [113]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [114]:
my_list.append(12)

In [115]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12]

In [117]:
my_list.reverse()

In [118]:
my_list

[12, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [119]:
my_list.count(12)

1

In [120]:
my_list.append(12)
my_list

[12, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 12]

In [121]:
my_list.count(12)

2

In [127]:
my_list = [3, 7, 12, 15, 22]
my_list[1:4:2]

[7, 15]

In [139]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for idx, num in enumerate(my_list):
    if num %2 == 1:
        print(idx, num)

1 1
3 3
5 5
7 7
9 9

In [131]:
for num in my_list:
    print num

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(num)? (<ipython-input-131-9d16a47ea0ba>, line 2)

In [146]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9,10}
my_seta = set(range(5,16))
my_seta
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [147]:
my_seta

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [148]:
my_set.add(11)
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [149]:
my_seta.add('hello')
my_seta

{10, 11, 12, 13, 14, 15, 5, 6, 7, 8, 9, 'hello'}

In [150]:
my_set.intersection(my_seta)

{5, 6, 7, 8, 9, 10, 11}

In [151]:
my_set.union(my_seta)

{1, 10, 11, 12, 13, 14, 15, 2, 3, 4, 5, 6, 7, 8, 9, 'hello'}

In [152]:
first_list = ['hello', 'there', 'things', 'stuff', 'other', 'soda', 'chicken wings', 'things', 'soda']

In [154]:
second_list = ['turkey sandwich', 'guacamole', 'chicken wings', 'OJ', 'soda']

In [157]:
my_set = set(first_list)

In [158]:
my_set

{'chicken wings', 'hello', 'other', 'soda', 'stuff', 'there', 'things'}

In [161]:
my_settwo = set(second_list)

In [162]:
my_set.intersection(my_settwo)

{'chicken wings', 'soda'}

In [163]:
set_pizza = {'pizza'}

In [164]:
my_set.intersection(set_pizza)

set()

In [165]:
my_set.intersection(my_settwo)

{'chicken wings', 'soda'}

In [167]:
'pizza' in my_set and 'pizza' in my_settwo

False

In [168]:
first_list.count('pizza') > 1 and second_list.count('pizza') > 1

False